<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Attendance Test Suite">
    <test name="Attendance Tests">
        <classes>
            <class name="tests.CheckAttendanceTest"/>
        </classes>

    </test>

    <test name="Login Tests">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
        
    </test>
    <test name="Base Tests">
        <classes>
            <class name="tests.BaseTest"/>
        </classes>
        
    </test>
</suite>